body {
  font-family: 'Roboto Mono', monospace;

}
.portfolioPage{
  opacity:0.6;
}
a {
  text-decoration: none;
  color:white;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track-piece  {
  background-color: black;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: orange;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
.particles-bg {
    width: 200%;
    height: 200%;
    background-color: inherit;
    position: absolute;
    z-index: -1;
}
