

.headerDetails{
  display: flex;
  align-items: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}
.headerImage{
  width: 42px;
  height: 42px;
  background-color: blue;
  margin-right: 10px;
  border-radius: 21px;
}
.headerTitle{
  font-weight: 600;
  margin-left: 10px;
}
