.headerTitle{
  font-weight: 700;
  margin-left: 10px;
  margin-right: auto;
  line-height: 50px;
  margin-left: 20px;
}
.headerTitle span{
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
}
