.homePageTitle{
  font-size: 45px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}
.btnRow {
  /* background-color: red; */
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5%;
}
