.homePageTitle {
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}
.btnRowHome {
    text-align: center;
    position: absolute;
    left: 0px;
    text-decoration: none;
    right: 0px;
    bottom: 5%;
}
.remDec {
    text-decoration: none;
}
.loadingIcon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
}
/* .homeCont {
  background-color: red;
  height: 500px;
} */
