.body {
    background-color: #081b33 !important;
}

.portfolioContainer {
    width: 100% !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    margin-top: 50px !important;
    overflow-y: scroll !important;
    transform: scale(0.6) !important;
    border-radius: 0px !important;
    border: 2px solid black !important;
}

.portfolioContainerFull5 {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* position: absolute !important; */
    top: 0 !important;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    overflow-y: scroll !important;
    background-color: white !important;
}

.portfolioContainerFull5 .portfolioBodyCont {
    position: absolute !important;
    background-color: white !important;
    width: 100% !important;
    font-size: 62.5%;
}

.portfolioContainerFull5 .portfolioPage1 {
    width: 100% !important;
    height: 100% !important;
    background-color: none !important;
    position: absolute !important;
    color: #def2f1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.portfolioContainerFull5 .portfolioPage1Details {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.portfolioContainerFull5 .portfolioPage1SocialHolder {
    margin-top: 100px !important;
}

.portfolioContainerFull5 .portfolioUserImage {
    width: 200px !important;
    height: 200px !important;
    border-radius: 100% !important;
    margin-right: 40px !important;
}

.portfolioContainerFull5 .portfolioUserDetails {
    font-size: 35px !important;
    margin-left: 40px !important;
}

.portfolioContainerFull5 .portfolioUserName {
    font-weight: 900 !important;
    letter-spacing: 1px !important;
}

.portfolioContainerFull5 .portfolioUserLabel {
    font-weight: 600 !important;
    letter-spacing: 2px !important;
}

.portfolioContainerFull5 .miniLine {
    width: 20% !important;
    height: 2px !important;
    background-color: #b22222 !important;
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/* ------------------------------------------------------- */
.portfolioContainerFull5 .portfolioBtn {
    font-family: 'Cereal' !important;
    font-weight: 600 !important;
    width: 200px !important;
    text-align: center !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    height: 45px !important;
    background: linear-gradient(315deg, #091d37, #07182e) !important;
    box-shadow: 36px -36px 70px #051221, -36px 36px 70px #0b2445 !important;
    transition: 0.2s ease-out !important;
    color: #def2f1 !important;
    line-height: 45px !important;
    border-radius: 15px !important;
}

.portfolioContainerFull5 .portfolioBtn:hover,
.portfolioContainerFull5 .portfolioBtn:active {
    font-weight: 600 !important;
    width: 200px !important;
    text-align: center !important;
    cursor: pointer !important;
    font-weight: 400 !important;
    height: 45px !important;
    background: linear-gradient(315deg, #07182e, #091d37) !important;
    box-shadow: 36px -36px 70px #051221, -36px 36px 70px #0b2445 !important;
    transition: 0.2s ease-out !important;
    color: #def2f1 !important;
    line-height: 45px !important;
    border-radius: 15px !important;
}

.portfolioContainerFull5 .portfolioPage {
    width: 100% !important;
    height: auto !important;
    padding-bottom: 40px !important;
}

/* ----------------------------------------------------------- */
.portfolioContainerFull5 .aboutPage {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 0px !important;
}

.portfolioContainerFull5 .portfolioPageSplit {
    width: 50% !important;
    min-height: 400px !important;
    height: auto !important;
}

.portfolioContainerFull5 .leftAbout {
    width: 50% !important;
    background-color: #081b33 !important;
    color: #def2f1 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    font-size: 2em !important;
    font-weight: 700 !important;
    margin-left: auto !important;
}

.portfolioContainerFull5 .aboutCard {
    opacity: 0.8 !important;
    background-color: #081b33 !important;
    padding: 50px !important;
    border-radius: 20px !important;
    background: linear-gradient(45deg, #091d37, #07182e) !important;
    box-shadow: 36px -36px 72px #061527, -36px 36px 72px #0a213f !important;
}

.portfolioContainerFull5 .rightAbout {
    color: #def2f1 !important;
    background-color: #353c51 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.portfolioContainerFull5 .portfolioUserSummary {
    width: 60% !important;
    text-align: justify !important;
}

/* ---------------------------------------------------------- */
.portfolioContainerFull5 .workPage {
    background-color: #e6e6e6 !important;
}

.portfolioContainerFull5 .portfolioPageTitle {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    color: #def2f1 !important;
    text-align: center !important;
    padding-top: 40px !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    background-color: #2f4562 !important;
    text-align: center !important;
    padding-bottom: 40px !important;
}

.portfolioContainerFull5 .portfolioPage .portfolioEducationPage {
    background-color: #2f4562 !important;
}

.portfolioContainerFull5 .titleCard {
    padding: 10px !important;
    width: 200px !important;
    border-radius: 20px !important;
    background: #2f4562 !important;
    box-shadow: 7px -7px 13px #2b3f5a, -7px 7px 13px #334b6a !important;
}

.portfolioContainerFull5 .portfolioCardContainer {
    width: 80% !important;
    height: auto !important;
    /* background-color: red !important; */
    margin: auto !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.portfolioContainerFull5 .portfolioCard {
    width: 300px !important;
    padding: 20px !important;
    min-height: 400px !important;
    height: auto !important;
    margin-top: 30px !important;
}

/* .portfolioCardTitle{
    background-color: red !important;
  } */
.portfolioContainerFull5 .portfolioCardTitleMain {
    font-size: 20px !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.portfolioContainerFull5 .portfolioCardTitleSub {
    text-transform: capitalize !important;
    font-weight: 300 !important;
    font-size: 18px !important;
}

.portfolioContainerFull5 .miniCardLine {
    margin-right: auto !important;
    margin-left: 0px !important;
}

.portfolioContainerFull5 .portfolioCardContent {
    width: 100% !important;
    text-align: justify !important;
}

.portfolioContainerFull5 .portfolioCardWebsite {
    margin-top: 20px !important;
    font-size: 15px !important;
}

.portfolioContainerFull5 .portfolioCardWebsite span {
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.portfolioContainerFull5 .portfolioCardWebsite a {
    color: #02aab0 !important;
    text-decoration: none !important;
}

.portfolioContainerFull5 .portfolioCardDateContainer {
    width: 100% !important;
    height: 50px !important;
    border: 2px solid #02aab0 !important;
    line-height: 50px !important;
    text-align: center !important;
    margin: auto !important;
    margin-top: 20px !important;
    font-weight: 600 !important;
    background-color: #02aab0 !important;
}

/* -------------------------------------------------------------- */
.portfolioContainerFull5 .volunteerPage {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 0px !important;
    background-color: white !important;
}

.portfolioContainerFull5 .rightVolunteer {
    background-color: white !important;
    color: black !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

.portfolioContainerFull5 .leftVolunteer {
    width: 100% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
}

.portfolioContainerFull5 .portfolioVolunteerExpansionPanel {
    font-size: 16px !important;
    width: 80% !important;
    margin: auto !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelTitle {
    font-size: 20px !important;
    font-weight: bold !important ;
    flex-basis: 60% !important;
    flex-shrink: 0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelSubTitle {
    font-size: 20px !important ;
    font-weight: bold !important;
    color: #02aab0 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelDetails p {
    font-size: 16px !important ;
    display: flex !important;
    flex-direction: column !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelDetails {
    font-size: 16px !important ;
    display: flex !important;
    flex-direction: column !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelWebsite {
    font-size: 16px !important ;
    margin-top: 0px !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelWebsite span {
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.portfolioContainerFull5 .portfolioExpansionPanelWebsite a {
    font-size: 16px !important ;
    color: #02aab0 !important;
    text-decoration: none !important;
}

/* ------------------------------------------------------------ */
.portfolioContainerFull5 .portfolioFlatContainer {
    width: 100% !important;
    width: inherit;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
}

.portfolioContainerFull5 .portfolioFlat {
    background-color: #ffffff !important;
    color: black !important;
    width: 300px !important;
    min-height: 380px !important;
    height: auto !important;
    padding: 40px !important;
    border-radius: 0px !important;
    transition: 0.2s ease-out !important;
    font-size: 16px !important;
}
.portfolioContainerFull5 .portfolioFlat .portfolioCardTitle {
    font-weight: bold !important ;
    font-size: 20px !important;
}

.portfolioContainerFull5 .portfolioFlat:hover {
    background: #083f41 !important;
    border-radius: 20px !important;
    color: white !important;
}

.portfolioContainerFull5 .portfolioFlat:hover .portfolioFlatSubTitle {
    color: white !important;
}

.portfolioContainerFull5 .portfolioFlat:hover .portfolioCardDateContainer {
    background-color: #138c92 !important;
    border: none !important;
    border-radius: 10px !important;
}

.portfolioContainerFull5 .portfolioFlatSubTitle {
    transition: 0.2s ease-out !important;
    color: #02aab0 !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
}

.portfolioContainerFull5 .portfolioFlatContentSummary {
    margin-top: 10px !important;
}

/* ---------------------------------------------------- */
.portfolioContainerFull5 .extrasPage {
    background-color: rgba(238, 238, 238, 0.5) !important;
    padding-bottom: 20px !important;
}

.portfolioContainerFull5 .extrasPage .miniLine {
    margin-top: 30px !important;
}

.portfolioContainerFull5 .floodFill {
    background-color: white !important;
    color: black !important;
    height: 50px !important;
    line-height: 50px !important;
    padding-bottom: 40px !important;
}

.portfolioContainerFull5 .portfolioExtraCard {
    font-size: 16px !important ;
    display: flex !important;
    margin-top: 50px !important;
    width: 500px !important;
    flex-direction: row !important;
    height: auto !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    background-color: #e6e6e6 !important;
}

.portfolioContainerFull5 .portfolioExtraDetails {
    font-size: 16px !important ;
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
}
.portfolioContainerFull5 .portfolioExtraDetails h5 {
    font-size: 20px !important ;
    font-weight: bold !important;
}

.portfolioContainerFull5 .portfolioExtraContent {
    font-size: 16px !important ;
    display: flex !important;
    flex-direction: column !important;
}

.portfolioContainerFull5
    .Mui-dialogContent-root
    #alert-dialog-slide-description {
    font-size: 16px !important ;
}

.portfolioContainerFull5 .chip {
    font-size: 16px !important ;
    margin-top: 10px !important;
}

.portfolioContainerFull5 .portfolioExtraImage {
    height: auto !important;
    width: 200px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.portfolioContainerFull5 .miniAwardImage {
    background-image: url('../images/award.jpg') !important;
}

.portfolioContainerFull5 .miniPublicationImage {
    background-image: url('../images/publish.jpg') !important;
}

.portfolioContainerFull5 .miniLanguageImage {
    background-image: url('../images/language.png') !important;
}

.portfolioContainerFull5 .miniSkillImage {
    background-image: url('../images/skill.jpg') !important;
}

.portfolioContainerFull5 .portfolioAwardCompany span,
.portfolioContainerFull5 .portfolioAwardDate span {
    font-weight: 600 !important;
}

.portfolioContainerFull5 .portfolioPublishCompany span,
.portfolioContainerFull5 .portfolioPublishDate span,
.portfolioContainerFull5 .portfolioPublishWebsite span {
    font-weight: 600 !important;
}

.portfolioContainerFull5 .portfolioPublishWebsite a {
    color: #02aab0 !important;
    text-decoration: none !important;
}

/* --------------------------------------------- */
/* .contactPage{
  } */
.portfolioContainerFull5 .contactPage .portfolioPageTitle {
    padding-bottom: 20px !important;
}

.portfolioContainerFull5 .portfolioContactCard {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
    height: auto !important;
    font-size: 20px !important ;
}

.portfolioContainerFull5 .portfolioContactCardAddress {
    text-align: center !important;
    text-transform: capitalize !important;
    line-height: 24px !important;
    font-size: 20px !important ;
}

.portfolioContainerFull5 .portfolioContactCardAddress span {
    color: black !important;
    font-size: 20px !important;
}

.portfolioContainerFull5 .portfolioContactCard li {
    margin-top: 10px !important;
    font-size: 20px !important ;
}

.portfolioContainerFull5 .portfolioContactCardInfoTitle {
    font-weight: 600 !important;
    color: black !important;
    font-size: 20px !important;
}

.portfolioContainerFull5 .portfolioContactSocialCard {
    text-align: center !important;
    color: #02aab0 !important;
    background-color: black !important;
    font-size: 20px !important;
}

.portfolioContainerFull5 .noProf {
    text-align: center !important;
    text-transform: capitalize !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 20px !important;
    font-weight: 300 !important;
}

.portfolioContainerFull5 .noProfLarge {
    font-size: 30px !important;
    font-weight: 600 !important;
}

.portfolioContainerFull5 .noProf span {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    /* font-style: italic !important; */
    cursor: pointer !important;
}

.portfolioContainerFull5 .particles-bg {
    width: 100% !important;
    height: 100% !important;
    background-color: #081b33 !important;
    position: absolute !important;
    z-index: -1 !important;
}

.portfolioContainerFull5 .img-profile {
    border-radius: 120px !important;
}

.portfolioContainerFull5 .about-wrapper__info {
    text-align: center !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}
.portfolioContainerFull5 .about-wrapper__info .about-wrapper__info-text {
    margin-top: 4em !important;
    text-align: center !important;
    font-size: 20px !important;
    width: 80% !important;
}

.portfolioContainerFull5 .about-title {
    font-size: 50px !important;
}

.portfolioContainerFull5 #projects {
    padding-bottom: 0 !important;
}

.portfolioContainerFull5 .portfolioCardContent {
    font-size: 16px !important;
}

.portfolioContainerFull5 .portfolioWorkCard:hover {
    background: #083f41 !important;
    border-radius: 20px !important;
    color: white !important;
    transition: 0.2s ease-out !important;
}

.portfolioContainerFull5 .portfolioWorkCard:hover .portfolioCardSubTitle {
    color: white !important;
}

.portfolioContainerFull5 .portfolioWorkCard:hover .portfolioCardDateContainer {
    background-color: #138c92 !important;
    border: none !important;
    border-radius: 10px !important;
}

.portfolioContainerFull5 .portfoliCardTitleSub {
    transition: 0.2s ease-out !important;
    color: #02aab0 !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
}

.portfolioContainerFull5 #contact {
    margin-top: 50px !important;
    background-image: none !important;
    background-color: white !important;
}
.portfolioContainerFull5 #contact .container {
    background-color: white !important;
    color: black !important;
}
