.portfolioContainer {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-top: 50px;
    overflow-y: scroll;
    transform: scale(0.6);
    border-radius: 0px;
    border: 2px solid black;
}
.portfolioContainerFull3 {
    width: 100%;
    height: 100%;
    margin: auto;
    /* position: absolute; */
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background-color: white;
}
.portfolioContainerFull3 .portfolioBodyCont {
    position: absolute;
    background-color: white;
    width: 100%;
}
.portfolioContainerFull3 .portfolioPage1 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        125deg,
        #8e44ad,
        #e74c3c,
        #2980b9,
        #27ae60,
        #2c3e50
    );
    background-size: 400% 400%;
    animation: bganimation 15s infinite;
}
.portfolioContainerFull3 .portfolioPage1Details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.portfolioContainerFull3 .portfolioPage1SocialHolder {
    margin-top: 100px;
}
.portfolioContainerFull3 .portfolioUserImage {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 40px;
}
.portfolioContainerFull3 .portfolioUserDetails {
    font-size: 35px;
    margin-left: 40px;
}
.portfolioContainerFull3 .portfolioUserName {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.portfolioContainerFull3 .portfolioUserLabel {
    font-weight: 200;
    letter-spacing: 2px;
}
.portfolioContainerFull3 .miniLine {
    width: 40%;
    height: 2px;
    background-color: #fff;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* ------------------------------------------------------- */
.portfolioContainerFull3 .portfolioBtn {
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    height: 45px;
    border: 2px solid #fff;
    transition: 0.2s ease-out;
    color: #fff;
    line-height: 45px;
    border-radius: 4px;
}
.portfolioContainerFull3 .portfolioBtn:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}
.portfolioContainerFull3 .portfolioPage {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}
/* ----------------------------------------------------------- */
.portfolioContainerFull3 .aboutPage {
    margin: 0;
    padding: 0;
    background: #010615;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin: 30px 30px 30px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    display: flex;
    background-color: #060c21;
    color: #e01b1b;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.flip-card-front:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.flip-card-front:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(20px);
}
.flip-card-front:after,
.flip-card-front:before {
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}

/* Style the back side */
.flip-card-back {
    background-color: #060c21;
    color: white;
    transform: rotateY(180deg);
}
.portfolioContainerFull3 .portfolioUserSummary {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 20% 0 0;
}
/* ------------------------------------------------------------- */
.portfolioContainerFull3 .portfolioEducationPage {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        125deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(3, 1, 48, 1) 5%,
        rgba(4, 2, 58, 1) 9%,
        rgba(5, 3, 65, 1) 12%,
        rgba(6, 4, 79, 1) 18%,
        rgba(7, 6, 96, 1) 25%,
        rgba(8, 8, 111, 1) 31%,
        rgba(9, 9, 121, 1) 35%,
        rgba(9, 11, 123, 1) 39%,
        rgba(9, 14, 124, 1) 43%,
        rgba(9, 15, 125, 1) 45%,
        rgba(8, 29, 134, 1) 49%,
        rgba(7, 40, 141, 1) 52%,
        rgba(7, 47, 146, 1) 54%,
        rgba(7, 54, 151, 1) 56%,
        rgba(6, 68, 161, 1) 60%,
        rgba(6, 79, 168, 1) 63%,
        rgba(5, 94, 177, 1) 67%,
        rgba(5, 101, 182, 1) 69%,
        rgba(4, 119, 194, 1) 74%,
        rgba(3, 130, 201, 1) 77%,
        rgba(3, 141, 208, 1) 80%,
        rgba(2, 152, 215, 1) 83%,
        rgba(2, 159, 220, 1) 85%,
        rgba(1, 173, 229, 1) 89%,
        rgba(1, 184, 236, 1) 92%,
        rgba(1, 195, 243, 1) 95%,
        rgba(0, 212, 255, 1) 100%
    );
    opacity: 0.9;
    padding-bottom: 100px;
}
.portfolioContainerFull3 .portfolioEducationPage .portfolioPageTitle {
    color: white;
}
.portfolioContainerFull3 .portfolioEducationPage .pageMiniLine {
    background-color: white;
}
.portfolioFlatContainer {
    background-color: #fff;
    border-radius: 80px 0px 80px 0px;
}
/* ---------------------------------------------------------- */
.portfolioContainerFull3 .workPage {
    background-color: white;
}
.portfolioContainerFull3 .portfolioPageTitle {
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
}
.portfolioContainerFull3 .portfolioCardContainer {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.portfolioContainerFull3 .portfolioCard {
    width: 300px;
    padding: 20px;
    min-height: 400px;
    height: auto;
    margin-top: 30px;
}
.portfolioContainerFull3 .portfolioCardTitle {
    /* background-color: red; */
}
.portfolioContainerFull3 .portfolioCardTitleMain {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.portfolioContainerFull3 .portfolioCardTitleSub {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
}
.portfolioContainerFull3 .miniCardLine {
    margin-right: auto;
    margin-left: 0px;
}
.portfolioContainerFull3 .portfolioCardContent {
    width: 100%;
    text-align: justify;
}
.portfolioContainerFull3 .portfolioCardWebsite {
    margin-top: 20px;
    font-size: 15px;
}
.portfolioContainerFull3 .portfolioCardWebsite span {
    font-weight: 600;
    text-transform: uppercase;
}
.portfolioContainerFull3 .portfolioCardWebsite a {
    color: #3498db;
    text-decoration: none;
}
.portfolioContainerFull3 .portfolioCardDateContainer {
    width: 100%;
    height: 50px;
    border: none;
    line-height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4,
        0 0 5px #03e9f4;
}
/* -------------------------------------------------------------- */
.portfolioContainerFull3 .volunteerPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgba(240, 240, 240, 1);
    background-image: linear-gradient(
            135deg,
            rgba(244, 244, 244, 0.07) 0%,
            rgba(244, 244, 244, 0.07) 12.5%,
            rgba(211, 211, 211, 0.07) 12.5%,
            rgba(211, 211, 211, 0.07) 25%,
            rgba(178, 178, 178, 0.07) 25%,
            rgba(178, 178, 178, 0.07) 37.5%,
            rgba(145, 145, 145, 0.07) 37.5%,
            rgba(145, 145, 145, 0.07) 50%,
            rgba(113, 113, 113, 0.07) 50%,
            rgba(113, 113, 113, 0.07) 62.5%,
            rgba(80, 80, 80, 0.07) 62.5%,
            rgba(80, 80, 80, 0.07) 75%,
            rgba(47, 47, 47, 0.07) 75%,
            rgba(47, 47, 47, 0.07) 87.5%,
            rgba(14, 14, 14, 0.07) 87.5%,
            rgba(14, 14, 14, 0.07) 100%
        ),
        linear-gradient(
            45deg,
            rgba(236, 236, 236, 0.07) 0%,
            rgba(236, 236, 236, 0.07) 12.5%,
            rgba(210, 210, 210, 0.07) 12.5%,
            rgba(210, 210, 210, 0.07) 25%,
            rgba(183, 183, 183, 0.07) 25%,
            rgba(183, 183, 183, 0.07) 37.5%,
            rgba(157, 157, 157, 0.07) 37.5%,
            rgba(157, 157, 157, 0.07) 50%,
            rgba(130, 130, 130, 0.07) 50%,
            rgba(130, 130, 130, 0.07) 62.5%,
            rgba(104, 104, 104, 0.07) 62.5%,
            rgba(104, 104, 104, 0.07) 75%,
            rgba(77, 77, 77, 0.07) 75%,
            rgba(77, 77, 77, 0.07) 87.5%,
            rgba(51, 51, 51, 0.07) 87.5%,
            rgba(51, 51, 51, 0.07) 100%
        ),
        linear-gradient(90deg, #ffffff, #ffffff);
    border-bottom: 5px solid black;
}
.portfolioContainerFull3 .rightVolunteer {
    background-image: linear-gradient(
            216deg,
            rgba(77, 77, 77, 0.05) 0%,
            rgba(77, 77, 77, 0.05) 25%,
            rgba(42, 42, 42, 0.05) 25%,
            rgba(42, 42, 42, 0.05) 38%,
            rgba(223, 223, 223, 0.05) 38%,
            rgba(223, 223, 223, 0.05) 75%,
            rgba(36, 36, 36, 0.05) 75%,
            rgba(36, 36, 36, 0.05) 100%
        ),
        linear-gradient(
            44deg,
            rgba(128, 128, 128, 0.05) 0%,
            rgba(128, 128, 128, 0.05) 34%,
            rgba(212, 212, 212, 0.05) 34%,
            rgba(212, 212, 212, 0.05) 57%,
            rgba(25, 25, 25, 0.05) 57%,
            rgba(25, 25, 25, 0.05) 89%,
            rgba(135, 135, 135, 0.05) 89%,
            rgba(135, 135, 135, 0.05) 100%
        ),
        linear-gradient(
            241deg,
            rgba(55, 55, 55, 0.05) 0%,
            rgba(55, 55, 55, 0.05) 14%,
            rgba(209, 209, 209, 0.05) 14%,
            rgba(209, 209, 209, 0.05) 60%,
            rgba(245, 245, 245, 0.05) 60%,
            rgba(245, 245, 245, 0.05) 69%,
            rgba(164, 164, 164, 0.05) 69%,
            rgba(164, 164, 164, 0.05) 100%
        ),
        linear-gradient(
            249deg,
            rgba(248, 248, 248, 0.05) 0%,
            rgba(248, 248, 248, 0.05) 32%,
            rgba(148, 148, 148, 0.05) 32%,
            rgba(148, 148, 148, 0.05) 35%,
            rgba(202, 202, 202, 0.05) 35%,
            rgba(202, 202, 202, 0.05) 51%,
            rgba(181, 181, 181, 0.05) 51%,
            rgba(181, 181, 181, 0.05) 100%
        ),
        linear-gradient(92deg, rgb(52, 152, 219), rgb(52, 152, 219));
    color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
}
.portfolioContainerFull3 .leftVolunteer {
    display: flex;
    width: 70%;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.portfolioContainerFull3 .portfolioVolunteerExpansionPanel {
    width: 80%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
.portfolioContainerFull3 .portfolioExpansionPanelTitle {
    flex-basis: 60%;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.portfolioContainerFull3 .portfolioExpansionPanelSubTitle {
    color: #3498db;
    font-size: 13px;
    text-transform: capitalize;
}
.portfolioContainerFull3 .portfolioExpansionPanelDetails {
    display: flex;
    flex-direction: column;
}
.portfolioContainerFull3 .portfolioExpansionPanelWebsite {
    margin-top: 0px;
}
.portfolioContainerFull3 .portfolioExpansionPanelWebsite span {
    font-weight: 600;
    text-transform: uppercase;
}
.portfolioContainerFull3 .portfolioExpansionPanelWebsite a {
    color: #3498db;
    text-decoration: none;
}
/* ------------------------------------------------------------ */
.portfolioContainerFull3 .portfolioFlatContainer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
.portfolioContainerFull3 .portfolioFlat {
    width: 300px;
    min-height: 380px;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #3498db;
    margin-top: 40px;
    transition: 0.2s ease-out;
}
.portfolioContainerFull3 .portfolioFlat:hover {
    background-color: #3498db;
    color: white;
}
.portfolioContainerFull3 .portfolioFlat:hover a {
    color: white;
}
.portfolioContainerFull3 .portfolioFlat:hover .portfolioFlatSubTitle {
    color: black;
}
.portfolioContainerFull3 .portfolioFlat:hover .portfolioCardDateContainer {
    background-color: black;
}
.portfolioContainerFull3 .portfolioFlatSubTitle {
    transition: 0.2s ease-out;
    color: #3498db;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 10px;
}
.portfolioContainerFull3 .portfolioFlatContentSummary {
    margin-top: 10px;
}
/* ---------------------------------------------------- */
.portfolioContainerFull3 .extrasPage {
    background-image: linear-gradient(
            213deg,
            rgba(19, 176, 223, 0.26) 0%,
            rgba(19, 176, 223, 0.26) 23%,
            rgba(16, 160, 197, 0.26) 23%,
            rgba(16, 160, 197, 0.26) 65%,
            rgba(13, 144, 172, 0.26) 65%,
            rgba(13, 144, 172, 0.26) 70%,
            rgba(9, 129, 146, 0.26) 70%,
            rgba(9, 129, 146, 0.26) 74%,
            rgba(6, 113, 121, 0.26) 74%,
            rgba(6, 113, 121, 0.26) 90%,
            rgba(3, 97, 95, 0.26) 90%,
            rgba(3, 97, 95, 0.26) 100%
        ),
        linear-gradient(
            123deg,
            rgba(65, 234, 230, 0.26) 0%,
            rgba(65, 234, 230, 0.26) 28%,
            rgba(88, 192, 215, 0.26) 28%,
            rgba(88, 192, 215, 0.26) 55%,
            rgba(110, 150, 201, 0.26) 55%,
            rgba(110, 150, 201, 0.26) 66%,
            rgba(133, 107, 186, 0.26) 66%,
            rgba(133, 107, 186, 0.26) 80%,
            rgba(155, 65, 172, 0.26) 80%,
            rgba(155, 65, 172, 0.26) 85%,
            rgba(178, 23, 157, 0.26) 85%,
            rgba(178, 23, 157, 0.26) 100%
        ),
        linear-gradient(
            168deg,
            rgb(27, 194, 246) 0%,
            rgb(27, 194, 246) 6%,
            rgb(39, 174, 237) 6%,
            rgb(39, 174, 237) 32%,
            rgb(50, 155, 229) 32%,
            rgb(50, 155, 229) 40%,
            rgb(62, 135, 220) 40%,
            rgb(62, 135, 220) 66%,
            rgb(74, 116, 211) 66%,
            rgb(74, 116, 211) 72%,
            rgb(86, 96, 202) 72%,
            rgb(86, 96, 202) 86%,
            rgb(97, 77, 194) 86%,
            rgb(97, 77, 194) 96%,
            rgb(109, 57, 185) 96%,
            rgb(109, 57, 185) 100%
        );
    padding-bottom: 20px;
}
.extrasPage#blur.active {
    filter: blur(5px);
}
.portfolioContainerFull3 .extrasPage .miniLine {
    margin-top: 30px;
}
.portfolioContainerFull3 .floodFill {
    background-image: repeating-linear-gradient(
            135deg,
            rgba(145, 145, 145, 0.02) 0px,
            rgba(145, 145, 145, 0.02) 39px,
            rgba(140, 140, 140, 0.02) 39px,
            rgba(140, 140, 140, 0.02) 57px,
            rgba(9, 9, 9, 0.02) 57px,
            rgba(9, 9, 9, 0.02) 91px,
            rgba(217, 217, 217, 0.02) 91px,
            rgba(217, 217, 217, 0.02) 119px,
            rgba(45, 45, 45, 0.02) 119px,
            rgba(45, 45, 45, 0.02) 141px,
            rgba(227, 227, 227, 0.02) 141px,
            rgba(227, 227, 227, 0.02) 184px,
            rgba(236, 236, 236, 0.02) 184px,
            rgba(236, 236, 236, 0.02) 227px,
            rgba(124, 124, 124, 0.02) 227px,
            rgba(124, 124, 124, 0.02) 244px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(39, 39, 39, 0.02) 0px,
            rgba(39, 39, 39, 0.02) 23px,
            rgba(2, 2, 2, 0.02) 23px,
            rgba(2, 2, 2, 0.02) 55px,
            rgba(13, 13, 13, 0.02) 55px,
            rgba(13, 13, 13, 0.02) 71px,
            rgba(44, 44, 44, 0.02) 71px,
            rgba(44, 44, 44, 0.02) 98px,
            rgba(240, 240, 240, 0.02) 98px,
            rgba(240, 240, 240, 0.02) 134px,
            rgba(182, 182, 182, 0.02) 134px,
            rgba(182, 182, 182, 0.02) 159px,
            rgba(246, 246, 246, 0.02) 159px,
            rgba(246, 246, 246, 0.02) 174px,
            rgba(157, 157, 157, 0.02) 174px,
            rgba(157, 157, 157, 0.02) 190px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(145, 145, 145, 0.02) 0px,
            rgba(145, 145, 145, 0.02) 35px,
            rgba(217, 217, 217, 0.02) 35px,
            rgba(217, 217, 217, 0.02) 53px,
            rgba(199, 199, 199, 0.02) 53px,
            rgba(199, 199, 199, 0.02) 70px,
            rgba(196, 196, 196, 0.02) 70px,
            rgba(196, 196, 196, 0.02) 114px,
            rgba(137, 137, 137, 0.02) 114px,
            rgba(137, 137, 137, 0.02) 143px,
            rgba(249, 249, 249, 0.02) 143px,
            rgba(249, 249, 249, 0.02) 191px,
            rgba(247, 247, 247, 0.02) 191px,
            rgba(247, 247, 247, 0.02) 239px,
            rgba(38, 38, 38, 0.02) 239px,
            rgba(38, 38, 38, 0.02) 273px
        ),
        linear-gradient(90deg, rgb(69, 69, 69), rgb(3, 3, 3));
    color: white;
    height: 50px;
    line-height: 50px;
    padding-bottom: 40px;
}
.portfolioContainerFull3 .portfolioExtraCard {
    display: flex;
    margin-top: 50px;
    width: 500px;
    flex-direction: row;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #e6e6e6; */
    background-color: white;
}
.portfolioContainerFull3 .portfolioExtraDetails {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.portfolioContainerFull3 .portfolioExtraContent {
    display: flex;
    flex-direction: column;
}
.portfolioContainerFull3 .chip {
    margin-top: 10px;
}
.portfolioContainerFull3 .portfolioExtraImage {
    height: auto;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.portfolioContainerFull3 .miniAwardImage {
    background-image: url('../images/award.jpg');
}
.portfolioContainerFull3 .miniPublicationImage {
    background-image: url('../images/publish.jpg');
}
.portfolioContainerFull3 .miniLanguageImage {
    background-image: url('../images/language.png');
}
.portfolioContainerFull3 .miniSkillImage {
    background-image: url('../images/skill.jpg');
}
.portfolioContainerFull3 .portfolioAwardCompany span,
.portfolioAwardDate span {
    font-weight: 600;
}
.portfolioContainerFull3 .portfolioPublishCompany span,
.portfolioPublishDate span,
.portfolioPublishWebsite span {
    font-weight: 600;
}
.portfolioContainerFull3 .portfolioPublishWebsite a {
    color: #3498db;
    text-decoration: none;
}

/* --------------------------------------------- */
.portfolioContainerFull3 .contactPage {
    background-image: radial-gradient(
        circle at top right,
        rgb(18, 219, 208) 0%,
        rgb(18, 219, 208) 4%,
        rgb(20, 212, 211) 4%,
        rgb(20, 212, 211) 8%,
        rgb(22, 206, 213) 8%,
        rgb(22, 206, 213) 12%,
        rgb(24, 199, 216) 12%,
        rgb(24, 199, 216) 16%,
        rgb(25, 192, 219) 16%,
        rgb(25, 192, 219) 20%,
        rgb(27, 185, 222) 20%,
        rgb(27, 185, 222) 24%,
        rgb(29, 179, 224) 24%,
        rgb(29, 179, 224) 28%,
        rgb(31, 172, 227) 28%,
        rgb(31, 172, 227) 100%
    );
}
.portfolioContainerFull3 .contactPage .portfolioPageTitle {
    padding-bottom: 20px;
}
.portfolioContainerFull3 .portfolioContactCard {
    width: 360px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
    height: auto;
    padding: 30px;
}

.portfolioContainerFull3 .portfolioContactCardAddress {
    text-align: center;
    text-transform: capitalize;
    line-height: 24px;
}
.portfolioContainerFull3 .portfolioContactCardAddress span {
    color: white;
}
.portfolioContainerFull3 .portfolioContactCard li {
    margin-top: 10px;
}
.portfolioContainerFull3 .portfolioContactCardInfoTitle {
    font-weight: 600;
    color: white;
}
.portfolioContainerFull3 .portfolioContactSocialCard {
    text-align: center;
    color: white;
    background-color: black;
}
.portfolioContainerFull3 .noProf {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 300;
}
.portfolioContainerFull3 .noProfLarge {
    font-size: 30px;
    font-weight: 600;
}
.portfolioContainerFull3 .noProf span {
    font-weight: 700;
    text-transform: uppercase;
    /* font-style: italic; */
    cursor: pointer;
}
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
