.body {
    background-color: #081b33 !important;
}

.portfolioContainer {
    width: 100% !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    margin-top: 50px !important;
    overflow-y: scroll !important;
    transform: scale(0.6) !important;
    border-radius: 0px !important;
    border: 2px solid black !important;
}

#allCovered .portfolioContainerFull {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    overflow-y: scroll !important;
    background-color: white !important;
}
#allCovered .portfolioBodyCont {
    position: absolute !important;
    background-color: white !important;
    width: 100% !important;
}
#allCovered .portfolioPage1 {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    color: #def2f1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
#allCovered .portfolioPage1Details {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}
#allCovered .portfolioPage1SocialHolder {
    margin-top: 100px !important;
}
#allCovered .portfolioUserImage {
    width: 200px !important;
    height: 200px !important;
    border-radius: 100% !important;
    margin-right: 40px !important;
}
#allCovered .portfolioUserDetails {
    font-size: 35px !important;
    margin-left: 40px !important;
}
#allCovered .portfolioUserName {
    font-weight: 900 !important;
    letter-spacing: 1px !important;
}
#allCovered .portfolioUserLabel {
    font-weight: 600 !important;
    letter-spacing: 2px !important;
}
#allCovered .miniLine {
    width: 20% !important;
    height: 2px !important;
    background-color: #b22222 !important;
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
#allCovered .portfolioBtn {
    font-family: 'Cereal' !important;
    font-weight: 600 !important;
    width: 200px !important;
    text-align: center !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    height: 45px !important;
    background: linear-gradient(315deg, #091d37, #07182e) !important;
    box-shadow: 36px -36px 70px #051221, -36px 36px 70px #0b2445 !important;
    transition: 0.2s ease-out !important;
    color: #def2f1 !important;
    line-height: 45px !important;
    border-radius: 15px !important;
}
#allCovered .portfolioBtn:hover,
#allCovered .portfolioBtn:active {
    font-weight: 600 !important;
    width: 200px !important;
    text-align: center !important;
    cursor: pointer !important;
    font-weight: 400 !important;
    height: 45px !important;
    background: linear-gradient(315deg, #07182e, #091d37) !important;
    box-shadow: 36px -36px 70px #051221, -36px 36px 70px #0b2445 !important;
    transition: 0.2s ease-out !important;
    color: #def2f1 !important;
    line-height: 45px !important;
    border-radius: 15px !important;
}
#allCovered .portfolioPage {
    width: 100% !important;
    height: auto !important;
    padding-bottom: 40px !important;
}
#allCovered .aboutPage {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 0px !important;
}
#allCovered .portfolioPageSplit {
    width: 50% !important;
    min-height: 400px !important;
    height: auto !important;
}
#allCovered .leftAbout {
    width: 50% !important;
    background-color: #081b33 !important;
    color: #def2f1 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    font-size: 2em !important;
    font-weight: 700 !important;
    margin-left: auto !important;
}
#allCovered .aboutCard {
    opacity: 0.8 !important;
    background-color: #081b33 !important;
    padding: 50px !important;
    border-radius: 20px !important;
    background: linear-gradient(45deg, #091d37, #07182e) !important;
    box-shadow: 36px -36px 72px #061527, -36px 36px 72px #0a213f !important;
}
#allCovered .rightAbout {
    color: #def2f1 !important;
    background-color: #353c51 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#allCovered .portfolioUserSummary {
    width: 60% !important;
    text-align: justify !important;
}
#allCovered .workPage {
    background-color: #e6e6e6 !important;
}
#allCovered .portfolioPageTitle {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    color: #def2f1 !important;
    text-align: center !important;
    padding-top: 40px !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    background-color: #2f4562 !important;
    text-align: center !important;
    padding-bottom: 40px !important;
}
#allCovered .portfolioPage .portfolioEducationPage {
    background-color: #2f4562 !important;
}
#allCovered .titleCard {
    padding: 10px !important;
    width: 200px !important;
    border-radius: 20px !important;
    background: #2f4562 !important;
    box-shadow: 7px -7px 13px #2b3f5a, -7px 7px 13px #334b6a !important;
}
#allCovered .portfolioCardContainer {
    width: 80% !important;
    height: auto !important;
    /* background-color: red !important; */
    margin: auto !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    align-items: center !important;
}
#allCovered .portfolioCard {
    width: 300px !important;
    padding: 20px !important;
    min-height: 400px !important;
    height: auto !important;
    margin-top: 30px !important;
}
#allCovered .portfolioCardTitleMain {
    font-size: 20px !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}
#allCovered .portfolioCardTitleSub {
    text-transform: capitalize !important;
    font-weight: 300 !important;
    font-size: 18px !important;
}
#allCovered .miniCardLine {
    margin-right: auto !important;
    margin-left: 0px !important;
}
#allCovered .portfolioCardContent {
    width: 100% !important;
    text-align: justify !important;
}
#allCovered .portfolioCardWebsite {
    margin-top: 20px !important;
    font-size: 15px !important;
}
#allCovered .portfolioCardWebsite span {
    font-weight: 600 !important;
    text-transform: uppercase !important;
}
#allCovered .portfolioCardWebsite a {
    color: #02aab0 !important;
    text-decoration: none !important;
}
#allCovered .portfolioCardDateContainer {
    width: 100% !important;
    height: 50px !important;
    border: 2px solid #02aab0 !important;
    line-height: 50px !important;
    text-align: center !important;
    margin: auto !important;
    margin-top: 20px !important;
    font-weight: 600 !important;
    background-color: #02aab0 !important;
}
#allCovered .volunteerPage {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 0px !important;
    background-color: white !important;
}
#allCovered .rightVolunteer {
    background-color: white !important;
    color: black !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}
#allCovered .leftVolunteer {
    width: 100% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
}
#allCovered .portfolioVolunteerExpansionPanel {
    font-size: 16px !important;
    width: 80% !important;
    margin: auto !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
#allCovered .portfolioExpansionPanelTitle {
    font-size: 20px !important;
    font-weight: bold !important;
    flex-basis: 60% !important;
    flex-shrink: 0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}
#allCovered .portfolioExpansionPanelSubTitle {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #02aab0 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
}
#allCovered .portfolioExpansionPanelDetails p {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
}
#allCovered .portfolioExpansionPanelDetails .portfolioExpansionPanelDetails {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
}
#allCovered .portfolioExpansionPanelWebsite {
    font-size: 16px !important;
    margin-top: 0px !important;
}
#allCovered .portfolioExpansionPanelWebsite span {
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}
#allCovered .portfolioExpansionPanelWebsite a {
    font-size: 16px !important;
    color: #02aab0 !important;
    text-decoration: none !important;
}
#allCovered .portfolioFlatContainer {
    width: 100% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
}
#allCovered .portfolioFlat {
    background-color: #ffffff !important;
    color: black !important;
    width: 300px !important;
    min-height: 380px !important;
    height: auto !important;
    padding: 40px !important;
    border-radius: 0px !important;
    transition: 0.2s ease-out !important;
    font-size: 16px !important;
}
#allCovered .portfolioFlat .portfolioCardTitle {
    font-weight: bold !important;
    font-size: 20px !important;
}
#allCovered .portfolioFlat:hover {
    background: #083f41 !important;
    border-radius: 20px !important;
    color: white !important;
}
#allCovered .portfolioFlat:hover .portfolioFlatSubTitle {
    color: white !important;
}
#allCovered .portfolioFlat:hover .portfolioCardDateContainer {
    background-color: #138c92 !important;
    border: none !important;
    border-radius: 10px !important;
}
#allCovered .portfolioFlatSubTitle {
    transition: 0.2s ease-out !important;
    color: #02aab0 !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
}
#allCovered .portfolioFlatContentSummary {
    margin-top: 10px !important;
}
#allCovered .extrasPage {
    background-color: rgba(238, 238, 238, 0.5) !important;
    padding-bottom: 20px !important;
}
#allCovered .extrasPage .miniLine {
    margin-top: 30px !important;
}
#allCovered .floodFill {
    background-color: white !important;
    color: black !important;
    height: 50px !important;
    line-height: 50px !important;
    padding-bottom: 40px !important;
}
#allCovered .portfolioExtraCard {
    font-size: 16px !important;
    display: flex !important;
    margin-top: 50px !important;
    width: 500px !important;
    flex-direction: row !important;
    height: auto !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    background-color: #e6e6e6 !important;
}
#allCovered .portfolioExtraDetails {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
}
#allCovered .portfolioExtraDetails h5 {
    font-size: 20px !important;
    font-weight: bold !important;
}
#allCovered .portfolioExtraContent {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
}
#allCovered .Mui-dialogContent-root #alert-dialog-slide-description {
    font-size: 16px !important;
}
#allCovered .chip {
    font-size: 16px !important;
    margin-top: 10px !important;
}
#allCovered .portfolioExtraImage {
    height: auto !important;
    width: 200px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
#allCovered .miniAwardImage {
    background-image: url('../images/award.jpg') !important;
}
#allCovered .miniPublicationImage {
    background-image: url('../images/publish.jpg') !important;
}
#allCovered .miniLanguageImage {
    background-image: url('../images/language.png') !important;
}
#allCovered .miniSkillImage {
    background-image: url('../images/skill.jpg') !important;
}
#allCovered .portfolioAwardCompany span,
#allCovered .portfolioAwardDate span {
    font-weight: 600 !important;
}
#allCovered .portfolioPublishCompany span,
#allCovered .portfolioPublishDate span,
#allCovered .portfolioPublishWebsite span {
    font-weight: 600 !important;
}
#allCovered .portfolioPublishWebsite a {
    color: #02aab0 !important;
    text-decoration: none !important;
}
#allCovered .contactPage .portfolioPageTitle {
    padding-bottom: 20px !important;
}
#allCovered .portfolioContactCard {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #02aab0 !important;
    background-image: linear-gradient(
        135deg,
        #02aab0 0%,
        #00cdac 100%
    ) !important;
    height: auto !important;
    font-size: 20px !important;
}
#allCovered .portfolioContactCardAddress {
    text-align: center !important;
    text-transform: capitalize !important;
    line-height: 24px !important;
    font-size: 20px !important;
}
#allCovered .portfolioContactCardAddress span {
    color: black !important;
    font-size: 20px !important;
}
#allCovered .portfolioContactCard li {
    margin-top: 10px !important;
    font-size: 20px !important;
}
#allCovered .portfolioContactCardInfoTitle {
    font-weight: 600 !important;
    color: black !important;
    font-size: 20px !important;
}
#allCovered .portfolioContactSocialCard {
    text-align: center !important;
    color: #02aab0 !important;
    background-color: black !important;
    font-size: 20px !important;
}
#allCovered .noProf {
    text-align: center !important;
    text-transform: capitalize !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 20px !important;
    font-weight: 300 !important;
}
#allCovered .noProfLarge {
    font-size: 30px !important;
    font-weight: 600 !important;
}
#allCovered .noProf span {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    /* font-style: italic !important; */
    cursor: pointer !important;
}
#allCovered .particles-bg {
    width: 100% !important;
    height: 100% !important;
    background-color: #081b33 !important;
    position: absolute !important;
    z-index: -1 !important;
}
#allCovered .img-profile {
    border-radius: 120px !important;
}
#allCovered .about-wrapper__info {
    text-align: center !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}
#allCovered .about-wrapper__info .about-wrapper__info-text {
    margin-top: 4em !important;
    text-align: center !important;
    font-size: 20px !important;
    width: 80% !important;
}
#allCovered .about-title {
    font-size: 50px !important;
}
#allCovered #projects {
    padding-bottom: 0 !important;
}
#allCovered .portfolioCardContent {
    font-size: 16px !important;
}
#allCovered .portfolioWorkCard:hover {
    background: #083f41 !important;
    border-radius: 20px !important;
    color: white !important;
    transition: 0.2s ease-out !important;
}
#allCovered .portfolioWorkCard:hover .portfolioCardSubTitle {
    color: white !important;
}
#allCovered .portfolioWorkCard:hover .portfolioCardDateContainer {
    background-color: #138c92 !important;
    border: none !important;
    border-radius: 10px !important;
}
#allCovered .portfoliCardTitleSub {
    transition: 0.2s ease-out !important;
    color: #02aab0 !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
}
#allCovered #contact {
    margin-top: 50px !important;
    background-image: none !important;
    background-color: white !important;
}
#allCovered #contact .container {
    background-color: white !important;
    color: black !important;
}
